@model List<LibraryManagementAssignment.ViewModels.AuthorViewModel>
<h2>Authors</h2>
<a href="@Url.Action("Create", "Author")" class="btn btn-primary">Create Author</a>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var author in Model)
    {
        <tr>
            <td>@author.Id</td>
            <td>@author.Name</td>
        </tr>
    }
    </tbody>
</table>