@model LibraryManagementAssignment.ViewModels.LibraryBranchModel

<h2>Create Library Branch</h2>
<form asp-controller="LibraryBranch" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="BranchName"></label>
        <input asp-for="BranchName" class="form-control" />
        <span asp-validation-for="BranchName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>